@use '../../../../styles/variables' as *;

.my-requests {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__create-btn {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 16px 24px;
    height: 56px;

    background: $color-black;
    color: $color-white;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;

    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  &__tabs {
    display: flex;
    background: $color-upload-bg;
    padding: 8px;
    gap: 8px;
  }

  &__tab {
    flex: 1;
    height: 41px;
    padding: 8px 16px;
    background: transparent;
    border: none;
    cursor: pointer;

    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;

    &--active {
      background: $color-black;
      color: $color-white;
    }
  }

  &__tab--active {
    background: $color-black;
    color: $color-white;
    border-color: $color-black;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.request-card {
  background: $color-gray-bg;
  padding: 24px;
  border: 1px solid $color-gray-light-border;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__category {
    background: $color-gray-main;
    color: $color-white;
    padding: 4px 8px;
    font-size: 12px;
    font-family: $font-main;
  }

  &__title {
    margin: 0 0 8px;
    font-family: $font-main;
    font-size: 18px;
    color: $color-black;
  }

  &__description {
    margin-bottom: 16px;
    font-family: $font-main;
    font-size: 14px;
    color: $color-gray-hint;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    display: flex;
    gap: 12px;
  }

  &__edit {
    background: transparent;
    border: 1px solid $color-black;
    padding: 8px 16px;
    font-family: $font-main;
    cursor: pointer;
  }

  &__view {
    background: $color-black;
    color: $color-white;
    border: none;
    padding: 8px 16px;
    font-family: $font-main;
    cursor: pointer;
  }
}
