@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.auth-layout {
  @include flex-column;
  min-height: 100vh;
  max-width: 2400px;
  margin: 0 auto;
  background: $color-white;

  &__header {
    margin: 24px 108px 0;
    height: $control-height;
    @include flex-center;
    justify-content: flex-start;
  }

  &__brand {
    @include flex-center;
    gap: 4px;
    text-decoration: none;
    color: $color-black;
  }

  &__logo {
    width: 32px;
    height: 32px;
  }

  &__title {
    @include text-body;
    font-weight: 500;
    line-height: 1;
  }

  &__form {
    @include flex-center;
    margin-top: 88px;
  }

  &__container {
    width: $container-width;
  }
}

.auth-form {
  @include flex-column(24px);

  &--signin {
    gap: 32px;
  }

  &__actions {
    @include flex-column;
    align-items: center;

    &--signup {
      margin-top: 8px;
    }
  }

  &__header {
    @include flex-column(8px);

    &--signin {
      margin-bottom: 8px;
    }
  }

  &__title {
    @include text-h1;
    margin: 0;
  }

  &__subtitle {
    @include text-body-lg;
  }

  &__step {
    display: flex;
    gap: 8px;
    @include text-body;
    @include text-semibold;
  }

  &__back {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    @include flex-center;

    img {
      @include icon-24;
    }
  }

  &__fields {
    @include flex-column(16px);
  }

  &__label {
    @include flex-column(4px);
    @include text-body;

    &-text {
      padding-left: 16px;
    }
  }

  &__label-row {
    @include flex-between;
  }

  &__error {
    @include text-caption;
    color: $color-error;
  }

  &__input {
    width: 100%;
    @include control-base;

    &::placeholder {
      @include text-body-lg;
      color: $color-gray-hint;
    }

    &--error {
      border-color: $color-error;
    }
  }

  &__button {
    width: 100%;
    @include button-base;
    @include button-disabled;

    &--active {
      @include button-primary;
      
    }
  }

  &__signin {
    margin-top: 16px;
    @include flex-center;
    gap: 16px;
    @include text-body;
  }

  &__signin-link {
    @include text-body;
    text-decoration: underline;
    align-self: flex-end;
    color: $color-black;
  }

  &__hint {
    @include text-body;
    color: $color-gray-hint;
  }

  &__phone {
    @include flex-center;
    height: $control-height;
    border: 1px solid $color-gray-border;
  }

  &__country {
    @include flex-center;
    gap: 8px;
    padding: 0 16px;
    background: $color-gray-bg;
    border-right: 1px solid $color-gray-border;

    img {
      width: 18px;
      height: 18px;
    }

    span {
      @include text-body-lg;
    }
  }

  &__phone-input {
    flex: 1;
    border: none;
    padding: 0 16px;
    @include text-body-lg;
    outline: none;

    &::placeholder {
      color: $color-gray-main;
      @include text-body-lg;
    }
  }

  &__radio-group {
    @include flex-column(16px);
  }

  &__radio-title {
    @include text-body-lg;
  }

  &__radio {
    @include flex-center;
    justify-content: flex-start;
    gap: 12px;
    @include text-body-lg;
    cursor: pointer;

    input {
      width: 24px;
      height: 24px;
      cursor: pointer;
      accent-color: $color-gray-main;
    }
  }

  &__password {
    position: relative;
  }

  &__eye {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    @include icon-24;
    cursor: pointer;
  }

  &__checkbox {
    @include flex-center;
    justify-content: flex-start;
    gap: 8px;
    cursor: pointer;
    @include text-body;
  }

  &__checkbox-box {
    @include flex-center;
    width: 24px;
    height: 24px;
    border: 1px solid $color-gray-main;

    &--checked {
      border-color: $color-black;
    }

    img {
      width: 16px;
      height: 12px;
    }
  }

  &__checkbox-text {
    @include text-body-lg;
  }

  &__forgot-link {
    margin-left: auto;
    @include text-body-lg;
    font-weight: 500;
    text-decoration: none;
    color: $color-black;
  }
}
