@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.my-requests {
  @include flex-column(24px);

  &__header {
    @include flex-between;
    justify-content: flex-end;
  }

  &__create-btn {
    @include button-base;
    @include button-primary;
    @include text-body-lg;

    gap: 8px;

    &:hover {
      opacity: 0.9;
    }
  }

  &__tabs {
    display: flex;
    gap: 8px;
    padding: 8px;
    background: $color-upload-bg;
  }

  &__tab {
    flex: 1;
    height: 41px;
    padding: 8px 16px;

    background: transparent;
    border: none;
    cursor: pointer;

    @include text-body-lg;
    text-align: center;

    &--active {
      background: $color-black;
      color: $color-white;
    }
  }

  &__list {
    @include flex-column(24px);
  }
}

.request-card {
  background: $color-gray-bg;
  padding: 24px;
  border: 1px solid $color-gray-light-border;

  &__top {
    @include flex-between;
    margin-bottom: 12px;
  }

  &__category {
    background: $color-gray-main;
    color: $color-white;
    padding: 4px 8px;
    font-size: 12px;
    font-family: $font-main;
  }

  &__title {
    margin-bottom: 8px;
    @include text-body-lg;
  }

  &__description {
    margin-bottom: 16px;
    @include text-caption;
    color: $color-gray-hint;
  }

  &__footer {
    @include flex-between;
  }

  &__actions {
    display: flex;
    gap: 12px;
  }

  &__edit {
    @include button-base;
    @include button-secondary;
    padding: 8px 16px;
    font-size: 14px;
  }

  &__view {
    @include button-base;
    @include button-primary;
    padding: 8px 16px;
    font-size: 14px;
  }
}
