$font-main: 'Inter', sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-gray-main: #868e96;
$color-gray-border: #cfd4dc;
$color-gray-bg: #f5f6f7;
$color-gray-hint: #8a8f98;
$color-error: #d92d20;

$container-width: 600px;
$control-height: 57px;
