$font-main: 'Inter', sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-gray-main: #868e96;
$color-gray-border: #cfd4dc;
$color-gray-light-border: #e5e7eb;
$color-gray-bg: #f5f6f7;
$color-gray-hint: #8a8f98;

$color-input-bg: #f1f1f4;
$color-upload-bg: #f1f3f4;
$color-placeholder: #a7b3bf;

$color-error: #d92d20;

$container-width: 600px;
$control-height: 56px;