@use '../../styles/mixins' as *;

.home-active-requests__carts__cart {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F4;
  align-items: center;

  width: 392px;
  height: 556px;
  gap: 24px;
  padding: 24px;

  &__photo {
    width: 344px;
    height: 270px;
    background-color: #fff;
  }
  
  &__title {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 125%;
  }

  &__p {
    @include p-styles;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include p-styles;
    
    &__category {
      padding: 8px;
      border: 1px solid black;
    }
  }
}