@use '../../styles/variables' as *;
@use '../../styles/mixins/index' as *;

.profile {
  &__sidebar {
    grid-column: 1;
    width: 392px;
    height: 374px;
    padding: 24px;
    border: 1px solid $color-gray-main;
  }

  &__user {
    @include flex-center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__avatar--sidebar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__name {
    @include text-body-lg;
    @include text-semibold;
  }

  &__email {
    @include text-body-lg;
    color: $color-gray-main;
  }

  &__menu {
    @include flex-column(8px);
  }

  &__menu-item {
    height: 48px;
    padding: 0 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;

    @include flex-center;
    justify-content: flex-start;
    gap: 16px;

    @include text-body-lg;

    &--active {
      background: $color-black;
      color: $color-white;
    }

    &--logout {
      color: $color-error;
      margin-top: 16px;
    }
  }
}
