@use '../../styles/variables' as *;

.profile {
  &__sidebar {
    grid-column: 1;
    width: 392px;
    height: 374px;
    border: 1px solid $color-gray-main;
    padding: 24px;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__avatar--sidebar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__email {
    font-size: 18px;
    color: $color-gray-main;
    line-height: 24px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__menu-item {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    text-align: left;

    &--active {
      background: $color-black;
      color: $color-white;
    }

    &--logout {
      color: $color-error;
      margin-top: 16px;
    }
  }
}
