@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.lang-dropdown {
  position: relative;
  height: 57px;

  &__menu {
    @include flex-column(1px);
    margin-top: 1px;

    &-item {
      @include flex-center;
      
      min-width: 80px;
      height: 28px;
      background-color: $color-input-bg;     
    }
  }
}

.lang-changer {
  padding: 0;
  border: none;
  cursor: pointer;

  @include flex-center;
  gap: 8px;

  @include text-body-lg;
  font-weight: 500;
}

.arrow {
  @include icon-24;
}
