@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  height: 57px;
  max-width: 1400px;
  width: 100%;
  margin: 24px auto 1px;

  @include flex-center;

  &__nav {
    padding: 0 108px;
    width: 100%;
    @include flex-between;

    &__wings-sector {
      width: 288px;
      @include flex-center;
      justify-content: flex-start;
      gap: 4px;
      flex-shrink: 0;

      &__title {
        @include text-body;
        font-weight: 500;
        line-height: 1;
      }
    }

    &__pages {
      @include flex-center;
      gap: 24px;

      &__page {
        min-width: 120px;
        padding: 0 16px;
        height: 41px;
        @include flex-center;

        &__title {
          @include text-body-lg;
          font-weight: 500;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 24px;
      flex-shrink: 0;

      a {
        color: inherit;
        text-decoration: none;
      }

      &__button {
        height: 100%;
        min-width: 80px;
        box-sizing: border-box;

        background: none;
        border: none;
        cursor: pointer;

        @include flex-center;

        &.lang-changer {
          background-color: $color-input-bg;
        }
      }
    }

    &__brand {
      display: flex;
      align-items: center;
      gap: 4px;
      text-decoration: none;
      color: inherit;
    }
  }

  &__profile-btn {
    width: 184px;
    height: 57px;
    padding: 16px;

    @include button-base;
    @include button-primary;
    @include text-body-lg;

    gap: 8px;

    img {
      @include icon-24;
    }
  }
}

.sign-in {
  @include button-secondary;
  @include text-body-lg;
}

.sign-up {
  @include button-primary;
  @include text-body-lg;
}
