@use '../../styles/mixins' as *;

.header {
  height: 57px;
  max-width: 1400px;
  margin: 24px auto 1px;

  width: 100%;
  display: flex;
  margin-bottom: 1px;

  &__nav {
    padding: 0 108px;
    width: 100%;
    // background-color: grey;
    display: flex;
    justify-content: space-between;

    &__wings-sector {
      width: 288px;
      display: flex;
      align-items: center;
      gap: 4px;

      &__title {
        font-weight: 500;
        font-style: Medium;
        line-height: 100%;
        font-size: 16px;
      }
    }

    &__pages {
      display: flex;
      justify-self: center;
      align-self: center;

      &__page {
        @include centeredFlexBox;
        width: 184px;
        height: 41px;
        
        text-decoration: none;
        color: #000;

        position: relative;

        &__title {
          @include title-styles;
          font-size: 18px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50;

          width: 0;
          height: 2px;
          background-color: #000;

          transition: width 0.3s ease;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 24px;

      a {
        color: inherit;
        text-decoration: none;
      }

      &__button {
        padding: 16px;
        height: 100%;
        min-width: 80px;
        box-sizing: border-box;

        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;

        @include centeredFlexBox;

        &.lang-changer {
          background-color: #f1f1f4;
        }
      }
    }

    &__brand {
      display: flex;
      align-items: center;
      gap: 4px;
      text-decoration: none;
      color: inherit;
    }
  }

  &__profile-btn {
    width: 184px;
    height: 57px;
    padding: 16px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;

    border: none;
    @include p-styles;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.sign-in {
  border: 1px solid #000;
  @include p-styles;
}

.sign-up {
  background-color: #000;
  color: #fff;
  @include p-styles;
}

.has-underline {
  color: #000;

  &::after {
    width: 50%;
  }
}