@use '../../styles/mixins' as *;
@use '../../styles/mixins/index' as *;
@use '../../styles/variables' as *;

.header {
  height: 57px;
  max-width: 1400px;
  width: 100%;
  margin: 24px auto 1px;

  @include flex-center;

  &__nav {
    padding: 0 108px;
    width: 100%;
    @include flex-between;

    &__wings-sector {
      width: 288px;
      @include flex-center;
      justify-content: flex-start;
      gap: 4px;
      flex-shrink: 0;

      &__title {
        @include text-body;
        font-weight: 500;
        font-style: Medium;
        line-height: 100%;
        font-size: 16px;
      }
    }

    &__pages {
      display: flex;
      justify-self: center;
      align-self: center;

      &__page {
        @include centeredFlexBox;
        width: 184px;
        height: 41px;
        
        text-decoration: none;
        color: #000;

        position: relative;

        &__title {
          @include title-styles;
          font-size: 18px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50;

          width: 0;
          height: 2px;
          background-color: #000;

          transition: width 0.3s ease;
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 24px;
      flex-shrink: 0;

      a {
        color: inherit;
        text-decoration: none;
      }

      &__button {
        padding: 16px;
        height: 100%;
        min-width: 80px;
        box-sizing: border-box;

        background: none;
        border: none;
        cursor: pointer;

        @include centeredFlexBox;

        &.lang-changer {
          background-color: $color-input-bg;
        }
      }
    }

    &__brand {
      display: flex;
      align-items: center;
      gap: 4px;
      text-decoration: none;
      color: inherit;
    }
  }

  &__profile-btn {
    width: 184px;
    height: 57px;
    padding: 16px;

    @include button-base;
    @include button-primary;
    @include text-body-lg;

    gap: 8px;

    border: none;
    @include p-styles;

    img {
      @include icon-24;
    }
  }
}

.sign-in {
  border: 1px solid #000;
  @include p-styles;
}

.sign-up {
  background-color: #000;
  color: #fff;
  @include p-styles;
}

.has-underline {
  color: #000;

  &::after {
    width: 50%;
  }
}