@use '../../styles/mixins' as *;

.footer {
  // width: 100%;
  // height: 50%;
  display: flex;
  margin-bottom: 24px;
  // position: absolute;
  // top: 110;
  // top: 330px;
  
  &__nav {
    // background-color: grey;
    margin-inline: 108px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;

    &__wings-sector {
      max-width: 207px;
      height: 46px;
      @include centeredFlexBox;
      margin-bottom: 16px;
      
      gap: 4px;
    
      &__title {
        font-weight: 500;
        font-size: 23px;
        line-height: 100%;
      }
    }

    &__discribe {
      @include p-styles;
      margin-bottom: 40px;
    }

    &__logo {
      width: 46px;
      height: 46px;
    }
    
    &__contacts {
      display: flex;
      // justify-content: space-between;
    }

    &__support {
      @include p-styles;
      padding-right: 10%;
    }

    &__explores {
      display: flex;
      flex-direction: column;
      gap: 40px;

      
      &__requests {
        @include p-styles;
        @include disableLinkStyles;
      }

      &__offers {
        @include p-styles;
        @include disableLinkStyles;
      }
    }

    &__end {
      margin-top: 80px;
      width: 100%;
      display: flex;
      justify-content: space-between
      ;
      &__wings {
        @include p-styles;
      }
      &__terms {
        @include p-styles;
      }
    }
  }  
}
