@use '../../../styles/variables' as *;

.profile {
  display: flex;
  justify-content: center;
  padding: 80px 0;

  &__layout {
    max-width: 1400px;
    width: 100%;
    padding: 0 108px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 392px minmax(24px, 128px) 1fr;

  }

  &__content {
    grid-column: 3;
    min-width: 400px;
    
  }
}
