@use '../../../styles/mixins.scss' as *;

.custom-dropdown {
  position: relative;

  &__trigger {
    width: 100%;
    padding: 12px 14px;
    background: #f1f1f4;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.open .custom-dropdown__arrow {
      transform: rotate(180deg);
    }
  }

  &__value {
    @include p-styles;
    color: #868E96;

    &--selected {
      color: #000;
    }
  }

  &__search {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    @include p-styles;
    color: #000;
  }

  &__arrow {
    height: 24px;
    width: 24px;
    transition: 0.2s;
    flex-shrink: 0;
  }

  &__options {
    position: absolute;
    top: calc(100% + 6px);
    width: 100%;
    background: #fff;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    z-index: 10;
  }

  &__option {
    padding: 12px 14px;
    cursor: pointer;
    transition: 0.15s;
    @include p-styles;

    &:hover {
      background: #f3f3f3;
    }
  }
}

/* ===== MODIFIERS ===== */

.custom-dropdown--lang {
  @include centeredFlexBox;
  gap: 8px;
  width: 80px;
  height: 57px;
  background-color: #F1F1F4;

  .custom-dropdown__trigger {
    background: transparent;
    border: none;
    padding: 0;
  }

  .custom-dropdown__value {
    color: #000;
  }
}

.custom-dropdown--filter {
  @include centeredFlexBox;
  width: 141px;
  gap: 8px;
  padding-block: 16px;
  padding-inline: 26px;
  height: 57px;
  background-color: #F1F1F4;

  .custom-dropdown__trigger {
    padding: 0;
    background: transparent;
    border: none;
  }

  .custom-dropdown__value {
    color: #000;
  }
}
