html {
  font-family: Inter, Arial, sans-serif;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  // font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 4%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
