html {
  position: relative;
}

*,
*::before,
*::after {
  font-family: Inter, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  // font-weight: 800;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
