@use '../variables' as *;

@mixin control-base {
  height: $control-height;
  padding: 16px;
  border: 1px solid $color-gray-main;
  background: $color-white;
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.4;
  color: $color-black;
  outline: none;

  &:focus {
    border-color: $color-black;
  }

  &::placeholder {
    color: $color-gray-main;
  }
}

@mixin textarea-base {
  min-height: calc(#{$control-height} * 2);
  resize: none;
  overflow: hidden;
}
