@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
