@mixin text-h1 {
  font-size: 56px;
  line-height: 1.25;
  font-weight: 500;
}

@mixin text-h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

@mixin text-h3 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}

@mixin text-body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

@mixin text-body-lg {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

@mixin text-caption {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

@mixin text-semibold {
  font-weight: 600;
}
